.dayEvent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
}

.dayEvent input {
  border: none;
  background-color: white;
  display: inline-block;
  padding: 4px;
  border-radius: 10px;
  color: black;
}

.dayEventContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.dayEventTitle {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
.dayEventTitle input {
  display: flex;
  align-items: center;
  font-size: large;
  width: 50%;
}

.dayEventDescription {
  display: flex;
  align-items: center;

}

.dayEventDescription input {
  width: 90%;
}

.time {
  position: relative;
  gap: .5em;
}

.time select {
  padding: 0.5em;
  border: none;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  color: black;
  margin: 5px;
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5em;
  width: 2.5em;
  border: none;
  border-radius: 50%;
  background: inherit;
  -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
  cursor: pointer;
  border: black solid 1px;
}

.addNewEventButt {
  display: flex;
  justify-content: center;
}
