.dayComponent {
  background-color: #996f371c;
  width: 35%;
  border-radius: 2%;
  margin:3em;
  margin-top: 0;
  padding:3em;
  display: flex;
  flex-direction: column;
  flex: 1;
  position:relative;
}

.xButton {
  background-color: white;
  width:30px;
  height: 30px;
  font-weight: 900;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: 900;
  color: black;
  cursor: pointer;
  margin:10px;
  
}

.dayHeader {
  display: flex;
  justify-content: space-between;
}

.dayItem {
  display: flex;
  justify-content: space-between;
}

.dayItemTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dayItemTitle label {
  margin:10px;
}

.color {
  background-color: inherit;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}


.addNewButt {
  background: inherit;
  border:none;
  font-size: xx-large;
  font-weight: 900;
  cursor:pointer;
}

.scroll {
  position: absolute;
  padding: 3em;
  padding-top: 0;
  padding-bottom: 0;
  margin:20px;
  left: 0;
  top: 15%;
  right: 0;
  bottom: 5%;
  
  overflow-y: auto;
    
}